In [1]:
# Upgrade Oracle ADS to pick up latest features and maintain compatibility with Oracle Cloud Infrastructure.

!pip install -U oracle-ads
!pip install --upgrade oci

Requirement already satisfied: oracle-ads in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (2.8.9)
Requirement already satisfied: pandas<2.1,>1.2.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (1.4.4)
Requirement already satisfied: matplotlib>=3.1.3 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (3.5.2)
Requirement already satisfied: cloudpickle>=1.6.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (2.0.0)
Requirement already satisfied: oci>=2.104.3 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (2.112.1)
Requirement already satisfied: psutil>=5.7.2 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (5.9.0)
Requirement already satisfied: cerberus>=1.3.4 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (1.3.4)
Requirement already satisfied: python_jsonschema_objects>=0.3.13 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (0.4.1)
Requirement already satisfied: PyYAML>=6 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (6.0.1)
Requirement already satisfied: jinja2>=2.11.2 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (3.0.3)
Requirement already satisfied: scikit-learn>=1.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (1.1.2)
Requirement already satisfied: gitpython>=3.1.2 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (3.1.18)
Requirement already satisfied: tabulate>=0.8.9 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (0.8.10)
Requirement already satisfied: fsspec>=0.8.7 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (2022.7.1)
Requirement already satisfied: tqdm>=4.59.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (4.64.1)
Requirement already satisfied: asteval>=0.9.25 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (0.9.27)
Requirement already satisfied: numpy>=1.19.2 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (1.23.3)
Requirement already satisfied: ocifs>=1.1.3 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (1.1.3)
Requirement already satisfied: requests in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (2.28.1)
Requirement already satisfied: setuptools in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from cerberus>=1.3.4->oracle-ads) (65.5.1)
Requirement already satisfied: gitdb<5,>=4.0.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from gitpython>=3.1.2->oracle-ads) (4.0.9)
Requirement already satisfied: MarkupSafe>=2.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from jinja2>=2.11.2->oracle-ads) (2.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from matplotlib>=3.1.3->oracle-ads) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from matplotlib>=3.1.3->oracle-ads) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from matplotlib>=3.1.3->oracle-ads) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from matplotlib>=3.1.3->oracle-ads) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from matplotlib>=3.1.3->oracle-ads) (9.2.0)
Requirement already satisfied: packaging>=20.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from matplotlib>=3.1.3->oracle-ads) (21.3)
Requirement already satisfied: cycler>=0.10 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from matplotlib>=3.1.3->oracle-ads) (0.11.0)
Requirement already satisfied: circuitbreaker<2.0.0,>=1.3.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci>=2.104.3->oracle-ads) (1.4.0)
Requirement already satisfied: pyOpenSSL<24.0.0,>=17.5.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci>=2.104.3->oracle-ads) (22.0.0)
Requirement already satisfied: pytz>=2016.10 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci>=2.104.3->oracle-ads) (2022.6)
Requirement already satisfied: certifi in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci>=2.104.3->oracle-ads) (2022.9.24)
Requirement already satisfied: cryptography<42.0.0,>=3.2.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci>=2.104.3->oracle-ads) (37.0.2)
Requirement already satisfied: six>=1.5.2 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from python_jsonschema_objects>=0.3.13->oracle-ads) (1.16.0)
Requirement already satisfied: jsonschema>=2.3 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from python_jsonschema_objects>=0.3.13->oracle-ads) (4.7.2)
Requirement already satisfied: inflection>=0.2 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from python_jsonschema_objects>=0.3.13->oracle-ads) (0.5.1)
Requirement already satisfied: Markdown>=2.4 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from python_jsonschema_objects>=0.3.13->oracle-ads) (3.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from scikit-learn>=1.0->oracle-ads) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from scikit-learn>=1.0->oracle-ads) (1.9.1)
Requirement already satisfied: joblib>=1.0.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from scikit-learn>=1.0->oracle-ads) (1.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from requests->oracle-ads) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from requests->oracle-ads) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from requests->oracle-ads) (2.1.1)
Requirement already satisfied: cffi>=1.12 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from cryptography<42.0.0,>=3.2.1->oci>=2.104.3->oracle-ads) (1.14.6)
Requirement already satisfied: smmap<6,>=3.0.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from gitdb<5,>=4.0.1->gitpython>=3.1.2->oracle-ads) (3.0.5)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from jsonschema>=2.3->python_jsonschema_objects>=0.3.13->oracle-ads) (0.19.2)
Requirement already satisfied: attrs>=17.4.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from jsonschema>=2.3->python_jsonschema_objects>=0.3.13->oracle-ads) (22.1.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from jsonschema>=2.3->python_jsonschema_objects>=0.3.13->oracle-ads) (5.10.0)
Requirement already satisfied: importlib-metadata>=4.4 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from Markdown>=2.4->python_jsonschema_objects>=0.3.13->oracle-ads) (5.0.0)
Requirement already satisfied: pycparser in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from cffi>=1.12->cryptography<42.0.0,>=3.2.1->oci>=2.104.3->oracle-ads) (2.21)
Requirement already satisfied: zipp>=0.5 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from importlib-metadata>=4.4->Markdown>=2.4->python_jsonschema_objects>=0.3.13->oracle-ads) (3.10.0)
Requirement already satisfied: oci in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (2.112.1)
Requirement already satisfied: cryptography<42.0.0,>=3.2.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci) (37.0.2)
Requirement already satisfied: pytz>=2016.10 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci) (2022.6)
Requirement already satisfied: circuitbreaker<2.0.0,>=1.3.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci) (1.4.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.5.3 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci) (2.8.2)
Requirement already satisfied: certifi in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci) (2022.9.24)
Requirement already satisfied: pyOpenSSL<24.0.0,>=17.5.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci) (22.0.0)
Requirement already satisfied: cffi>=1.12 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from cryptography<42.0.0,>=3.2.1->oci) (1.14.6)
Requirement already satisfied: six>=1.5 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from python-dateutil<3.0.0,>=2.5.3->oci) (1.16.0)
Requirement already satisfied: pycparser in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from cffi>=1.12->cryptography<42.0.0,>=3.2.1->oci) (2.21)

In [2]:
# 필요 라이브러리 Import

import ads
import logging
import os
import tempfile
import warnings
import json
import base64
import numpy as np
import pandas as pd
import nltk
nltk.download('omw-1.4')
import joblib

import ocifs
import oci
from ocifs import OCIFileSystem

from ads.catalog.model import ModelCatalog
from ads.common.model_metadata import UseCaseType
from ads.common.model_artifact import ModelArtifact
from ads.common.model_export_util import prepare_generic_model
from ads.model.framework.sklearn_model import SklearnModel

from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.feature_extraction.text import CountVectorizer

from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /home/datascience/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

WARNING:py.warnings:/tmp/ipykernel_26832/3696504410.py:21: DeprecationWarning: The `ads.common.model_metadata` is deprecated in `oracle-ads 2.6.8` and will be removed in future release. Use the `ads.model.model_metadata` instead.
  from ads.common.model_metadata import UseCaseType

WARNING:py.warnings:/tmp/ipykernel_26832/3696504410.py:23: DeprecationWarning: The `ads.common.model_export_util` is deprecated in `oracle-ads 2.6.9` and will be removed in `oracle-ads 3.0`. Use framework specific Model utility class for saving and deploying model. Check https://accelerated-data-science.readthedocs.io/en/latest/user_guide/model_registration/quick_start.html
  from ads.common.model_export_util import prepare_generic_model

In [3]:
ads.set_auth(auth="resource_principal")

<a id="intro_dataset"></a>
## Create Dataset

In [4]:
# ADB에서 crawled 데이터 로딩 
# 아래 USER_NAME, PASSWORD, SERVICE_NAME, WALLET_LOCATION을 본인의 ADB 정보로 변경
# 한국어 및 테스트 데이터 삭제 
# nan과 null 데이터 처리를 위해 desc열만 dataframe으로 변환 

connection_parameters = {
    "user_name": "admin",
    "password": "Welcome123456!",
    "service_name": "o0mqv2sevcx6gmh9_low",
    "wallet_location": "./Wallet_O0MQV2SEVCX6GMH9.zip",
}

crawled_parquet_df = pd.DataFrame.ads.read_sql(
    """
    SELECT
    *
    FROM
    LIVELABS
    """,
    connection_parameters=connection_parameters,
)

df_final=crawled_parquet_df.drop([402,409,462,774,788])
df_final1 = pd.DataFrame({'document':df_final.DESCRIPTION})
df_final2 = df_final1.dropna()
df_final3 = df_final2[df_final2['document'].astype(bool)]
crawled_final = list(df_final3.document.values)

In [5]:
# CountVectorizer로 벡터화기 구현
# 최종 데이터 crwaled_final을 transform 후 LDA 알고리즘으로 Topic Modeling 생성

lemm = WordNetLemmatizer()

class LemmaCountVectorizer(CountVectorizer):
    def build_analyzer(self):
        analyzer = super(LemmaCountVectorizer, self).build_analyzer()
        return lambda doc: (lemm.lemmatize(w) for w in analyzer(doc))
    
tf_vectorizer = LemmaCountVectorizer(max_df=0.95, 
                                     min_df=2,
                                     stop_words='english',
                                     decode_error='ignore')

tf = tf_vectorizer.fit_transform(crawled_final)

lda = LatentDirichletAllocation(n_components=15, max_iter=10,
                                learning_method = 'online',
                                learning_offset = 10.,
                                random_state = 0)
lda.fit(tf)

LatentDirichletAllocation(learning_method='online', n_components=15,
                          random_state=0)

In [6]:
#Topic modeling data 결과

doc_topics=lda.transform(tf)

topic_index=list(df_final3.index.values)
topic_names = ['Topic #'+str(i) for i in range(0,15)]
topic_df = pd.DataFrame(data=doc_topics, columns=topic_names,index=topic_index)

dominant_topic = np.argmax(topic_df.values, axis=1)
topic_df['dominant_topic'] = dominant_topic
topic_df.head(20)

,Topic #0,Topic #1,Topic #2,Topic #3,Topic #4,Topic #5,Topic #6,Topic #7,Topic #8,Topic #9,Topic #10,Topic #11,Topic #12,Topic #13,Topic #14,dominant_topic
0,0.001212,0.001212,0.342298,0.001212,0.066917,0.001212,0.001212,0.001212,0.576240,0.001212,0.001212,0.001212,0.001212,0.001212,0.001212,8
1,0.002299,0.002299,0.002299,0.002299,0.002299,0.002299,0.967816,0.002299,0.002299,0.002299,0.002299,0.002299,0.002299,0.002299,0.002299,6
2,0.002299,0.002299,0.368516,0.002299,0.002299,0.002299,0.002299,0.002299,0.002299,0.002299,0.002299,0.002299,0.002299,0.601599,0.002299,13
3,0.001058,0.001058,0.431515,0.001058,0.001058,0.001058,0.001058,0.001058,0.001058,0.001058,0.001058,0.554728,0.001058,0.001058,0.001058,11
4,0.003922,0.003922,0.003922,0.945098,0.003922,0.003922,0.003922,0.003922,0.003922,0.003922,0.003922,0.003922,0.003922,0.003922,0.003922,3
5,0.001626,0.855744,0.001626,0.001626,0.001626,0.001626,0.001626,0.001626,0.123117,0.001626,0.001626,0.001626,0.001626,0.001626,0.001626,1
6,0.001587,0.001587,0.924590,0.001587,0.001587,0.001587,0.001587,0.054775,0.001587,0.001587,0.001587,0.001587,0.001587,0.001587,0.001587,2
7,0.002083,0.002083,0.002083,0.363517,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.609400,0.002083,13
8,0.003509,0.003509,0.614266,0.003509,0.340120,0.003509,0.003509,0.003509,0.003509,0.003509,0.003509,0.003509,0.003509,0.003509,0.003509,2
9,0.002381,0.002381,0.002381,0.276320,0.002381,0.002381,0.002381,0.002381,0.692728,0.002381,0.002381,0.002381,0.002381,0.002381,0.002381,8
10,0.001130,0.001130,0.150675,0.001130,0.001130,0.001130,0.834635,0.001130,0.001130,0.001130,0.001130,0.001130,0.001130,0.001130,0.001130,6
11,0.001626,0.001626,0.001626,0.341659,0.001626,0.001626,0.001626,0.001626,0.129760,0.001626,0.001626,0.001626,0.001626,0.509068,0.001626,13
12,0.002778,0.002778,0.002778,0.812004,0.002778,0.151884,0.002778,0.002778,0.002778,0.002778,0.002778,0.002778,0.002778,0.002778,0.002778,3
13,0.002083,0.002083,0.002083,0.638358,0.002083,0.002083,0.002083,0.002083,0.334559,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,3
14,0.330987,0.006667,0.006667,0.499252,0.006667,0.006667,0.006667,0.089761,0.006667,0.006667,0.006667,0.006667,0.006667,0.006667,0.006667,3
15,0.003175,0.003175,0.955555,0.003175,0.003175,0.003175,0.003175,0.003175,0.003175,0.003175,0.003175,0.003175,0.003175,0.003175,0.003175,2
16,0.124358,0.003704,0.721085,0.003704,0.003704,0.003704,0.003704,0.110113,0.003704,0.003704,0.003704,0.003704,0.003704,0.003704,0.003704,2
17,0.002083,0.002083,0.970833,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,2
18,0.005556,0.005556,0.551751,0.250325,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.131257,0.005556,0.005556,0.005556,2
19,0.009524,0.009524,0.763379,0.009524,0.009524,0.009524,0.009524,0.112812,0.009524,0.009524,0.009524,0.009524,0.009524,0.009524,0.009524,2

In [7]:
X=topic_df.drop(['dominant_topic'],axis=1)
y=topic_df['dominant_topic']

In [8]:
#importing train_test_split
from sklearn.model_selection import train_test_split
trainx, trainy, testx, testy = train_test_split(X,y)

## 모델 생성

In [9]:
model = KMeans(
     init="random",
     n_clusters=15,
     n_init=10,
     max_iter=300,
     random_state=42
 )

model.fit(trainx)

KMeans(init='random', n_clusters=15, random_state=42)

## 모델 준비

In [10]:
# artifact_dir = tempfile.mkdtemp()

artifact_dir = './artifact'
sklearn_model = SklearnModel(estimator=model, artifact_dir=artifact_dir)

sklearn_model.prepare(
    inference_conda_env="generalml_p38_cpu_v1",
    training_conda_env="generalml_p38_cpu_v1",
    use_case_type=UseCaseType.CLUSTERING,
    X_sample=trainx,
    y_sample=trainy,
    force_overwrite=True,
)

WARNING:ads.common:In the future model input will be serialized by `cloudpickle` by default. Currently, model input are serialized into a dictionary containing serialized input data and original data type information.Set `model_input_serializer="cloudpickle"` to use cloudpickle model input serializer.
WARNING:py.warnings:/home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages/ads/model/runtime/env_info.py:92: UserWarning: slug will be deprecated. Provide conda pack path instead.        ?, ?it/s]
  warnings.warn("slug will be deprecated. Provide conda pack path instead.")

algorithm: KMeans
artifact_dir:
  /home/datascience/demo/artifact:
  - - score.py
    - .model-ignore
    - model.joblib
    - input_schema.json
    - output_schema.json
    - runtime.yaml
framework: scikit-learn
model_deployment_id: null
model_id: null

In [11]:
sklearn_model.summary_status()

                                                                            Actions Needed
Step      Status        Details
initiate  Done          Initiated the model
prepare() Done          Generated runtime.yaml
                        Generated score.py
                        Serialized model
                        Populated metadata(Custom, Taxonomy and Provenance)
verify()  Available     Local tested .predict from score.py
save()    Available     Conducted Introspect Test
                        Uploaded artifact to model catalog
deploy()  UNKNOWN       Deployed the model
predict() Not Available Called deployment predict endpoint

## Verify

In [12]:
sklearn_model.verify(trainx[:10])

Start loading model.joblib from model directory /home/datascience/demo/artifact ...
Model is successfully loaded.

{'prediction': [6, 0, 7, 0, 5, 8, 7, 13, 8, 12]}

## Save

In [13]:
sklearn_model.save(display_name="model-minjikim-v1", ignore_introspection=True)

Start loading model.joblib from model directory /home/datascience/demo/artifact ...
Model is successfully loaded.

loop1:   0%|          | 0/4 [00:00<?, ?it/s]

'ocid1.datasciencemodel.oc1.ap-tokyo-1.amaaaaaavsea7yiailuahde3amudhp6ou32g7bim34mak4jlop4ha5yxhtva'

## Deploy

In [14]:
deploy = sklearn_model.deploy(
    display_name="deployment-minjikim-v1",
)

loop1:   0%|          | 0/6 [00:00<?, ?it/s]

In [15]:
print(f"Endpoint: {sklearn_model.model_deployment.url}")

Endpoint: https://modeldeployment.ap-tokyo-1.oci.customer-oci.com/ocid1.datasciencemodeldeployment.oc1.ap-tokyo-1.amaaaaaavsea7yiamsoc5qsvdfpwjlgakgj4jgrdcam6iwbxgsfugkrkyajq

# Invoke & Predict

In [21]:
import requests
import oci
from oci.signer import Signer

auth = oci.auth.signers.get_resource_principals_signer()

In [22]:
#uri = f"<replace-with-your-model-deployment-uri"
uri = f"https://modeldeployment.ap-tokyo-1.oci.customer-oci.com/ocid1.datasciencemodeldeployment.oc1.ap-tokyo-1.amaaaaaavsea7yiamsoc5qsvdfpwjlgakgj4jgrdcam6iwbxgsfugkrkyajq/predict"
print(uri)

https://modeldeployment.ap-tokyo-1.oci.customer-oci.com/ocid1.datasciencemodeldeployment.oc1.ap-tokyo-1.amaaaaaavsea7yiamsoc5qsvdfpwjlgakgj4jgrdcam6iwbxgsfugkrkyajq/predict

In [23]:
sample = ["I want to learn MACHINE LEARNING on HEATWAVE"]
sample_vec = tf_vectorizer.transform(sample)
topic_probability_scores = lda.transform(sample_vec)
input_data = pd.DataFrame(topic_probability_scores).to_json()

In [24]:
%%time
response = requests.post(uri, json=input_data, auth=auth)

CPU times: user 15.5 ms, sys: 3 ms, total: 18.5 ms
Wall time: 136 ms

In [25]:
data_points_in_cluster = trainx[model.labels_ == json.loads(response.content)['prediction']]
indices = data_points_in_cluster.index

for index in indices:
    print(crawled_parquet_df.loc[index])
    print( )

ID                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          3204
TITLE                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           Introduction to Oracle Machine Learning for R on Oracle Database
URL                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              https://apexapps.oracle.com/pls/apex/r/dbpm/livelabs/run-workshop?p210_wid=3204
TYPE                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    Hands-on
DESCRIPTION       Oracle Machine Learning for R (OML4R), a component of Oracle Machine Learning on Oracle Database and Oracle Autonomous Database, makes the open-source R scripting language and environment ready for enterprise data. OML4R provides a database-centric environment for end-to-end analytical processes using R. Users invoke overloaded R functions on database-resident data for data exploration and preparation, which leverages the database as a high-performance computing environment. Further, R users can invoke powerful in-database machine learning algorithms from a native R API and deploy user-defined R functions in database-spawned and controlled R engines - all in support of R-based solution development.OML4R is for those looking to process data in place without moving the data out of the database. This allows you to leverage the high-performance database to process data for data science and machine learning solutions. This workshop guides you through using various OML4R features for data exploration and preparation, and machine learning modeling using in-database algorithms.
DURATION                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 3 hours
PUBLISHED_TIME                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               2020-08-09T00:43:05
TITLE_KO                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    Oracle Database 기반의 Oracle Machine Learning for R 소개
DESC_KO                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         Oracle Database 및 Oracle Autonomous Database의 Oracle Machine Learning 구성 요소인 Oracle Machine Learning for R(OML4R)을 통해 오픈 소스 R 스크립팅 언어 및 환경을 엔터프라이즈 데이터에 사용할 수 있습니다. OML4R는 R을 사용하여 엔드 투 엔드 분석 프로세스를 위한 데이터베이스 중심 환경을 제공합니다. 유저는 데이터베이스를 고성능 컴퓨팅 환경으로 활용하는 데이터 탐색 및 준비를 위해 데이터베이스 상주 데이터에서 오버로드된 R 함수를 호출합니다. 또한 R 사용자는 기본 R API에서 강력한 데이터베이스 내 머신 러닝 알고리즘을 호출하고 데이터베이스 소유 및 제어 R 엔진에 사용자 정의 R 함수를 배포할 수 있습니다. R 기반 솔루션 development.OML4R은 데이터베이스에서 데이터를 이동하지 않고 제자리에 데이터를 처리하려는 사용자를 위한 것입니다. 이를 통해 고성능 데이터베이스를 활용하여 데이터 과학 및 머신 러닝 솔루션을 위한 데이터를 처리할 수 있습니다. 이 워크샵에서는 데이터베이스 내 알고리즘을 사용한 다양한 OML4R 기능 및 머신 러닝 모델링을 사용해 볼 수 있습니다.
DURATION_KO                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  3시간
OCI_PRODUCTS                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               oracle autonomous database,oml4r,oracle databaseoracle machine learning for r,oracle machine learning
KEY_PHRASE                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      oracle machine learning,data exploration and preparation,oml4r,database,oracle databaseoracle machine learning,oracle database,oracle autonomous database,open-source r,language and environment,enterprise data
Name: 461, dtype: object

ID                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              586
TITLE                                                                                                                                                                                                                                                                                                                                                                                                                                            Introduction to Machine Learning Algorithms on ADB
URL                                                                                                                                                                                                                                                                                                                                                                                                                  https://apexapps.oracle.com/pls/apex/r/dbpm/livelabs/run-workshop?p210_wid=586
TYPE                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       Hands-on
DESCRIPTION       In this workshop you will explore the Oracle Machine Learning (OML) SQL notebook application provided with your Autonomous Data Warehouse. This browser-based application provides a web interface to run SQL queries and scripts, which can be grouped together within a notebook. Notebooks can be used to build single reports, collections of reports, and even dashboards. OML provides a simple way to share workbooks, and collections of workbooks, with other OML users.
DURATION                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 45 minutes
PUBLISHED_TIME                                                                                                                                                                                                                                                                                                                                                                                                                                                                  2017-09-16T21:09:56
TITLE_KO                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ADB의 머신 러닝 알고리즘 소개
DESC_KO                                                                                                                                                                                                 이 워크샵에서는 Autonomous Data Warehouse와 함께 제공되는 OML(Oracle Machine Learning) SQL 노트북 애플리케이션을 살펴봅니다. 이 브라우저 기반 응용 프로그램은 노트북 내에서 함께 그룹화할 수 있는 SQL 질의 및 스크립트를 실행하기 위한 웹 인터페이스를 제공합니다. 노트북은 단일 보고서, 보고서 모음 및 대시보드(Dashboard)를 작성하는 데 사용할 수 있습니다. OML은 다른 OML 사용자와 워크북 및 워크북 모음을 공유하는 간단한 방법을 제공합니다.
DURATION_KO                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    45분후
OCI_PRODUCTS                                                                                                                                                                                                                                                                                                                                                                                                                                            notebook,dashboards,sql,notebooks,workbooks
KEY_PHRASE                                                                                                                                                                                                                                                                             oml,machine learning algorithms,oracle machine learning,sql notebook application,autonomous data warehouse,browser-based application,web interface,queries and scripts,single reports,collections of reports
Name: 11, dtype: object

ID                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      807